.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
}

.searchInput {
  padding: 10px;
  margin-right: 10px; /* Changed from margin-bottom */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.searchButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #005bb5;
}